<html>
    <head>
       <style>
           .headers{
                margin: 10;
                font-family: 'Verdana';
            }
            
            .accent-color {
                color: red;
            }

       </style>
        <title>Growler</title>
    </head>
    <body>
        <div id="growler">
            <h2 v-once v-bind:class="{
                'headers': true,
                'accent-color': true
            }">{{appName}}</h2>
            <img v-bind:src="appLogo" alt="Growler" style="height: 36px;"/>
            <br/>
            <input type="text" v-model.trim="inputQuery" placeholder="Searching... (input event)"/>
            <br/>
            <div>
                Searching for {{inputQuery}}
            </div>
            </br>
            <input type="text" v-model.lazy="changeQuery" placeholder="Searching... (change event)"/>
            <br/>
            <div>
                Searching for {{changeQuery}}
            </div>
            <br/>
            <div>
                <label>
                    <input type="checkbox" value="ValueA" v-model="searchIndexes"/> ValueA
                </label>
                <br/>
                <label>
                    <input type="checkbox" value="ValueB" v-model="searchIndexes"/> ValueB
                </label>
                <br/>
                <small>Selected : {{searchIndexes}}</small>
            </div>
            <br/>
            <div>
                <label>
                    <input type="radio" value="ValueA" v-model="searchIndex"/> ValueA
                </label>
                <br/>
                <label>
                    <input type="radio" value="ValueB" v-model="searchIndex"/> ValueB
                </label>
                <br/>
                <small>Selected : {{searchIndex}}</small>
            </div>
            <br/>
            <div>
                <select v-model="selectedSearchIndex">
                    <option value="ValueA">ValueA</option>
                    <option value="ValueB">ValueB</option>
                </select>
                <br/>
                <small>Selected : {{selectedSearchIndex}}</small>
            </div>
            <button v-on:click="executeSearch('token', $event)">Search</button>
            <br/>
            <div v-on:click.capture="grandparentClick">
                <div v-on:click.capture="parentClick">
                    <button v-on:click.capture="childClick">Capture down!</button>
                </div>
            </div>
            <br/>
            <div v-on:click="grandparentClick">
                <div v-on:click="parentClick">
                    <button v-on:click="childClick">Bubble up!</button>
                </div>
            </div>
            <br/>
            <div v-on:click="grandparentClick">
                <div v-on:click.stop="parentClick">
                    <button v-on:click="childClick">Stop bubbling up!</button>
                </div>
            </div>
            <br/>
            <input type="text" v-on:keyup="evaluateKey" v-on:keyup.enter="executeSearch('keyup', $event)" v-model="keypressModel" placeholder="Evaluate key events"/>
            <input type="text" v-on:keydown.f1="evaluateCustomKeyEvent" placeholder="Evaluate custom key events"  v-on:contextmenu.prevent="MouseLeftClick"/>
            <input type="text" v-on:keyup.ctrl.enter="evaluateKey" placeholder="Control+Enter key press event"  v-on:contextmenu.prevent="MouseLeftClick"/>

            <br/>
            <br/>
            <div @mousedown.left="MouseLeftClick">
                mouseDown 
            </div>


        </div>
        <script src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="./growler-vue.js"></script>
    </body>
</html> 